.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(30, 114, 156);
  display: inline-block;
}

.node-finish {
  background-color: red;
}
.node-start {
  background-color: green;
}
.node-visited {
  background-color: rgb(0, 255, 213);
}
.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  background-color: rgb(12, 53, 71);
}
.node-shortestpath {
  background-color: yellow;
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rbg(12, 53, 71);
  }

  50% {
  }
  100% {
  }
}
